label.inputNumber {
    border: 1px solid darkgray;
    height: 40px;
    user-select: none;
    display: inline-flex;
    border-radius: 4px;
    overflow: hidden;

    &:hover {
        border-color: rgba($color: darkgray, $alpha: 0.8);
        box-shadow: 0 0 0 1px rgba($color: darkgray, $alpha: 0.8);
    }

    div {
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: darkgray;
        border-right: 1px solid darkgray;
        cursor: ew-resize;

        i {
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0; 
            margin: auto;
        }
    }

    input {
        width: 120px;
        padding: 8px 16px;
        text-align: center;
        border: none;
        outline: none;
    }
}